<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myownproject?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <!-- If used Spring Framework, this option will FALSE -->
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping class="model.Database"/>
    <mapping class="model.Language"/>
    <mapping class="model.Pattern"/>
    <mapping class="model.System"/>
    <mapping class="model.IDE"/>
    <mapping class="model.Status"/>
    <mapping class="model.Framework"/>
    <mapping class="model.Project"/>
    <mapping class="model.Task"/>
    <mapping class="model.Problem"/>
    <mapping class="model.Note"/>
    <mapping class="model.Link"/>
  </session-factory>
</hibernate-configuration>
